In [1]:
import requests
from bs4 import BeautifulSoup

## Getting HTML code of the {Kan Bkam} website

In [22]:
url = "https://supermarket.kanbkam.com/eg/ar/search/l?q=%D8%AC%D8%A8%D9%86%D8%A9+%D9%85%D8%AB%D9%84%D8%AB%D8%A7%D8%AA"
page = requests.get(url).text
soup = BeautifulSoup(page,"html.parser")

## Getting Name & Price  of Product using tags

In [23]:
find = soup.find_all("h3")
find1 = soup.find_all("p")
find1 = find1[1:]
l1 = []
l2 = []
for i in range(len(find)):
#     print(find[i].text)
#     print(find1[i].text)
    l1.append(find[i].text)
    l2.append(find1[i].text)
# print(l2[0])

### Putting data I collected in Data Frame to save it

In [50]:
import pandas as pd
dict4 = {"Item" : l1,"Price" : l2}
df = pd.DataFrame(dict4)#([l1,l2],columns=["الصنف","السعر"])
df

                                                Item             Price
0  جبنة مثلثات سيمبلي من البقرة الضاحكة - 16 مثلث...   36.95 جنية مصرى
1                    جبنة مثلثات طعمة ميلك - 16 قطعة   37.30 جنية مصرى
2                   جبنة مثلثات لافاش كيري - 48 قطعة  174.00 جنية مصرى
3                   جبنة مثلثات لافاش كيرى - 40 قطعة  150.00 جنية مصرى
4                   جبنة مثلثات لافاش كيري - 24 قطعة   82.95 جنية مصرى
5                         جبنة طعمة مثلثات - 32 قطعة  129.00 جنية مصرى
6                           جبنة كيري مثلثات - 8 قطع   33.15 جنية مصرى

## Getting HTML code of the {Metro} website

In [26]:
url = "https://www.metro-markets.com/ar/search?key=%D8%AC%D8%A8%D9%86%D8%A9+%D9%85%D8%AB%D9%84%D8%AB%D8%A7%D8%AA"
page = requests.get(url).text
soup = BeautifulSoup(page,"html.parser")

## Getting Name & Price  of Product using tag & class

In [36]:
find3 = soup.find_all("h5")
find2 = soup.find_all("p",class_="after")
find3 = find3[1:4]
l3 = []
l4 = []
print(find3[2].text)
print(find2[2].text)
for i in range(len(find3)):
    l3.append(find3[i].text)
    l4.append(find2[i].text)
print(l3)
print(l4)

لبنيتا جبنة مثلثات 48 قطعة

 140.99 جنية
[' بريزدنت جبنة مثلثات جامبو 24ق\n                            ', 'لبنيتا جبنة مثلثات 8 قطعة\n                            ', 'لبنيتا جبنة مثلثات 48 قطعة\n                            ']
[' 115.99 جنية', ' 27.99 جنية', ' 140.99 جنية']

### Putting data I collected in Data Frame(1) to save it

In [37]:
import pandas as pd
dict1 = {"Item" : l3,"Price" : l4}
df1 = pd.DataFrame(dict1)#([l1,l2],columns=["الصنف","السعر"])
df1

                                                Item         Price
0   بريزدنت جبنة مثلثات جامبو 24ق\n              ...   115.99 جنية
1  لبنيتا جبنة مثلثات 8 قطعة\n                   ...    27.99 جنية
2  لبنيتا جبنة مثلثات 48 قطعة\n                  ...   140.99 جنية

## Getting HTML code of the {Gomla} website

In [38]:
url = "https://gomla-eg.com/index.php?route=product/search&search=%D8%AC%D8%A8%D9%86%D8%A9%20%D9%86%D8%B3%D8%AA%D9%88&description=true"
page = requests.get(url).text
soup = BeautifulSoup(page,"html.parser")

## Getting Name & Price  of Product using classes

In [41]:
find4 = soup.find_all("div",class_="description")
find4 = find4[3:]
find5 = soup.find_all("span",class_="price-normal")
find5 = find5[3:7]
l5 = []
l6 = []
for i in range(len(find4)):
    l5.append(find4[i].text)
    l6.append(find5[i].text)
print(l6)

['95.00جنية ', '181.00جنية ', '1,544.00جنية ', '560.00جنية ']

### Putting data I collected in Data Frame(2) to save it

In [46]:
import pandas as pd
dict2 = {"Item" : l5,"Price" : l6}
df2 = pd.DataFrame(dict2)#([l1,l2],columns=["الصنف","السعر"])
df2

                                                Item          Price
0  جبنة كيرى - البركة حادى نستو 2.5كجم   (جردل=1 ...     95.00جنية
1    جبنة نستو - الصعيدي 8 مثلث   (كرتونة=36 علبة)..    181.00جنية
2      جبنة نستو بريزيدون 8 مثلث  (كرتونة=72 علبة)..  1,544.00جنية
3   جبنة نستو طعمة ميلك 16 مثلث   (كرتونة=24 علبة)..    560.00جنية

## Concatenate 3 Data Frames ==> one Data Frame

In [55]:
df3=pd.concat([df,df1,df2],ignore_index=True)
df3

                                                 Item             Price
0   جبنة مثلثات سيمبلي من البقرة الضاحكة - 16 مثلث...   36.95 جنية مصرى
1                     جبنة مثلثات طعمة ميلك - 16 قطعة   37.30 جنية مصرى
2                    جبنة مثلثات لافاش كيري - 48 قطعة  174.00 جنية مصرى
3                    جبنة مثلثات لافاش كيرى - 40 قطعة  150.00 جنية مصرى
4                    جبنة مثلثات لافاش كيري - 24 قطعة   82.95 جنية مصرى
5                          جبنة طعمة مثلثات - 32 قطعة  129.00 جنية مصرى
6                            جبنة كيري مثلثات - 8 قطع   33.15 جنية مصرى
7    بريزدنت جبنة مثلثات جامبو 24ق\n              ...       115.99 جنية
8   لبنيتا جبنة مثلثات 8 قطعة\n                   ...        27.99 جنية
9   لبنيتا جبنة مثلثات 48 قطعة\n                  ...       140.99 جنية
10  جبنة كيرى - البركة حادى نستو 2.5كجم   (جردل=1 ...        95.00جنية
11    جبنة نستو - الصعيدي 8 مثلث   (كرتونة=36 علبة)..       181.00جنية
12      جبنة نستو بريزيدون 8 مثلث  (كرتونة=72 علبة)..     1,544.00جنية
13   جبنة نستو طعمة ميلك 16 مثلث   (كرتونة=24 علبة)..       560.00جنية

## Converting Data Frame ==to=> Excel File

In [56]:
df3.to_excel('Prices.xlsx', index=False)